:root {
  --bg-light-1: #FBF9F1;
  --bg-navbar: #EEF5FF;
  --bg-border: lightgray;
  --bg-keyboard-keys: #B4D4FF;
  --bg-keyboard-keys-used: #596FB7;
  --text-light: #fff;
  --text-dark: #2D3250;
  --cell-border-default: var(--bg-border);
  --cell-border-filled: #176B87;
  --cell-bg-right: #79b851;
  --cell-bg-wrong: #f3c237;
  --cell-bg-used: #a4aec4;
  --border-radius: 4px;
  --fsize-sm: 20px;
  --fsize-md: 22px;
  --fsize-lg: 32px;
  --gap-x1: 8px;
  --gap-x2: 16px;
  --gap-x3: 32px;
} 

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	min-width: 100vw;
	overflow-x: hidden;
  height: 100vh;
  width: 100vh;
}

.navbar {
  height: 60px;
  width: 100%;
  background-color: var(--bg-navbar);
  border-bottom: 1px solid var(--bg-border);
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    font-size: var(--fsize-lg);
    font-weight: 700;
  }
}

