

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0,0,0,0.1);

  .modal {
    border-radius: 16px;
    box-shadow: 0 0 40px rgb(0 0 0/40%);
    padding: 24px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: var(--gap-x2);
    min-width: 300px;
    align-items: center;

    .close-icon {
      align-self: end;
      cursor: pointer;
    }

    .msg {
      font-size: var(--fsize-md);
      margin: 8px 0;
    }
    
    .correct-word {
      color: var(--cell-bg-right);
      font-weight: 600;
    }

    .btn {
      background-color: var(--bg-keyboard-keys-used);
      border: none;
      border-radius: var(--border-radius);
      padding: 20px;
      cursor: pointer;
      color: var(--text-light);
      font-size: var(--fsize-sm);
    }
  }
}