
.letter {
  height: 50px;
  width: 50px;
  border: 1px solid lightgray;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;

  &.filled {
    border: 1px solid gray
  }

  &.correct {
    background-color: lightgreen;
    color: #fff;
    border: none
  }

  &.disordered {
    background-color: #f3c237;
    color: #fff;
    border: none
  }
}